@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
  padding: 45px 0 55px;

  &__inner {
    display: flex;
    justify-content: space-between
  }
}


.menu {
  position: relative;
  padding-top: 15px;

  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    padding-left: 35px;
  }

  &__list-link {
    color: #436372;
    position: relative;
  }

  &__list-span {
    position: absolute;
    right: 10px;
    top: 6px;
    width: 20px;
    height: 20px;
    opacity: 0.3;

    &::before,
    &::after {
      position: absolute;
      left: 35px;
      content: ' ';
      height: 8px;
      width: 2px;
      background-color: #436372;
    }

    &::before {
      transform: rotate(0deg);
    }

    &::after {
      transform: rotate(-90deg);
    }
  }

}

.user-nav {
  display: flex;

  &__search {
    position: relative;
    display: inline-block;
    position: relative;
    height: 60px;
    float: right;
    padding: 0;

  }

  // .hide {
  //   display: none;
  // }

  &__search-input {
    height: 50px;
    @extend %DMSans-400;
    font-size: 16px;
    display: inline-block;
    border: none;
    outline: none;
    color: #000;
    padding: 3px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
    border-radius: 30px;
    padding-left: 50px;

    &:focus:hover {
      border: none;
      background-color: #edf1f4;
      transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);

    }

    &:focus {
      width: 750px;
      z-index: 1;
      border: none;
      background-color: #edf1f4;
      cursor: text;
    }
  }



  &__search-submit {
    height: 50px;
    width: 50px;
    display: inline-block;
    float: right;
    background-image: url('../images/icons/search.svg');
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    opacity: 0.4;
    cursor: pointer;
    border-radius: 50%;

    &:focus:hover {
      background-color: transparent;
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    background-color: #fcd7b6;
    border-radius: 50px;
    margin: 0 25px;

  }

  &__link+.user-nav__link {
    margin-left: 25px;
  }

  &__link {
    position: relative;
  }

  &__link-img {
    padding: 15px;
  }

  &__num {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    top: 9px;
    right: 6px;
    bottom: 0;
    font-size: 10px;
    color: $title-clr;
    text-align: center;
    line-height: 15px;
  }

  &__link-heart {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      border-right: 1px solid #fde7d3;
      height: 30px;
      top: 9px;
      right: -12px;
    }
  }

  &__link-elipse {
    width: 50px;
    height: 50px;
    background-color: #a3bbc8;
    border-radius: 50%;
  }
}



.top-slider {
  background-image: url('../images/top-slider-bg.jpg');
  background-position: right top;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fcd7b6;
  padding-top: 115px;

  &__inner {}

  &__item {
    display: flex !important;
    justify-content: space-between;
    min-height: 353px;
    margin-bottom: 150px;
  }

  &__title {
    max-width: 470px;
    @extend %Rubik-500;
    font-size: 70px;
    color: #243f4d;
    line-height: 1.1;
    margin-bottom: 35px;
  }

  &__text {
    max-width: 370px;
    font-size: 18px;
    color: #436372;
    margin-bottom: 40px;
  }

  &__btn {
    position: relative;
    background-color: #a3bbc8;
    @extend %Rubik-500;
    font-size: 15px;
    color: #fff;
    padding: 22px 100px 22px 25px;

    &::before {
      position: absolute;
      content: '';
      top: 27px;
      right: 24px;
      width: 22px;
      height: 9px;
      background-image: url('../images/slider/arrow-right.svg');

    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    padding-bottom: 35px;

    li {
      margin-left: 10px;

      button {
        @extend %Rubik-500;
        font-size: 11px;
        padding: 0;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        border: none;
        color: #243f4d;
        background-color: rgb(255, 255, 255);
        opacity: 0.302;

      }

      &.slick-active {
        background-color: rgb(255, 255, 255);
        width: 30px;
        height: 30px;
        border-radius: 50%;

      }
    }
  }
}


.support {
  background-color: #fef7f0;

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 566px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-right: 2px solid #e8e4df;

    &:last-child {
      border-right: none;
    }
  }

  &__item-box {
    position: relative;
    display: block;
    max-width: 290px;
    margin: 0 auto;
    padding-left: 50px;
  }

  &__img {
    position: absolute;
    content: '';
    top: 22px;
    left: -30px;

  }

  &__title {
    @extend %DMSans-700;
    font-size: 18px;
    margin-bottom: 10px;
  }

  &__text {
    @extend %DMSans-400;
    font-size: 16px;
    color: #585858;
  }

  &__text span {
    display: block;
  }

}

.products {
  padding: 70px 0 70px;
  background-color: #fcfcfc;

  &__title {
    @extend %DMSans-700;
    font-size: 36px;
    color: #191919;
    text-align: center;
    margin-bottom: 30px;
  }

  &__filter-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
  }

  &__btn {
    @extend %DMSans-700;
    color: #8b8b8b;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 35px;
  }

  &__box {
    background-color: #fff;
    max-width: 265px;
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  }

  &__item {
    padding-top: 25px;

    &:hover {
      .products__link-box {
        transform: translateY(0);
      }
    }
  }

  &__box-img {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 222px;
    overflow: hidden;
  }

  &__img {
    vertical-align: middle;
    margin: 0 auto;
    background-size: contain;
    object-fit: cover;
  }

  &__link-box {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    bottom: 25px;
    left: 0;
    right: 0;
    width: 170px;
    height: 50px;
    transform: translateY(300%);
    transition: all .3s;
  }

  &__link {
    transition: all .3s;
  }


  &__link--white-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 50%;

    &:hover {
      background-color: #a3bbc8;

      path {
        fill: #fff;
      }
    }

  }

  &__link--blue-bg {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;
    background-color: #a3bbc8;
    border-radius: 50%;

    &:hover {
      background-color: #fff;

      path {
        fill: #a3bbc8;
      }
    }
  }

  &__item-title {
    @extend %DMSans-500;
    color: #243f4d;
    text-align: center;
  }

  &__item-text {
    @extend %DMSans-700;
    color: #a3bbc8;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
  }
}

.products-modern {
  padding: 100px 0 95px;

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 865px;
    background-color: #feefe2;
    min-height: 380px;

    &+.products-modern__item {
      margin-left: 15px;
    }
  }

  &__item-box {
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 600px;
    padding-left: 255px;

  }

  &__item-img {
    position: absolute;
    bottom: 1px;
    left: 0;
    display: inline;
  }

  &__item-title {
    @extend %DMSans-700;
    font-size: 26px;
    color: #243f4d;
    margin-bottom: 25px;
  }

  &__item-text {
    @extend %Rubik-400;
    font-size: 16px;
    color: #243f4d;
    margin-bottom: 30px;
  }

  &__item-btn {
    position: relative;
    @extend %Rubik-500;
    font-size: 15px;
    color: #436372;
    background-color: transparent;
    border: 1px solid #a7aeae;
    border-radius: 5px;
    opacity: border 0.4;
    padding: 20px 85px 20px 20px;
    cursor: pointer;

    &::after {
      position: absolute;
      content: '';
      top: 27px;
      right: 22px;
      width: 22px;
      height: 9px;
      background-image: url('../images/products/arrow-dark-left.svg');

      &:hover {
        path {
          fill: #fff;
        }
      }
    }
  }

}

.design {
  margin-bottom: 110px;

  &__title {
    @extend %DMSans-700;
    font-size: 36px;
    color: #191919;
    text-align: center;
    margin-bottom: 30px;
  }

  &__filter-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
  }

  &__btn {
    @extend %DMSans-700;
    color: #8b8b8b;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  &__content-box {
    position: relative;
    max-width: 360px;
    min-height: 245px;
    background-color: #f8f8f8;
    padding-top: 40px;
    padding-left: 35px;
    overflow: hidden;
  }

  &__item-title {
    @extend %DMSans-700;
    font-size: 20px;
    color: #191919;
  }

  &__item-title span {
    display: block;
  }

  &__item-subtitle {
    @extend %DMSans-700;
    font-size: 16px;
    color: #a3bbc8;
  }

  &__item-img {
    position: absolute;
    content: '';
    right: -82px;
    bottom: 50px;
  }

  &__item-img--position {
    position: relative;
    margin: 0 auto;
  }
}

.video-review {
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    min-height: 500px;
    background-image: url('../images/video-img.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

}

.articles {
  position: relative;
  padding-top: 100px;

  &__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
    align-items: center;
  }

  &__top-title {
    @extend %DMSans-700;
    font-size: 36px;
    color: #191919;
  }

  &__top-link {
    position: relative;
    @extend %DMSans-700;
    font-size: 16px;
    color: #262626;
    padding-right: 20px;

    &::after {
      position: absolute;
      content: '';
      top: 6px;
      right: 0;
      bottom: 0;
      width: 6px;
      height: 11px;
      background-image: url('../images/articles/arrow-left-icon.svg');
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    min-height: 420px;
    background-color: #fff;
  }

  &__item-main {
    position: relative;
    padding: 35px 30px 10px 30px;
  }

  &__item-news {
    position: absolute;
    content: '';
    top: -17px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 103px;
    height: 30px;
    background-color: #a3bbc8;
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;
  }

  &__item-subtitle {
    position: relative;
    @extend %DMSans-500;
    font-size: 18px;
    color: #262626;
    padding-bottom: 15px;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid #e0e0e0;
    }
  }

  &__item-info {
    display: flex;
    padding: 10px 30px 10px 50px;

  }

  &__item-data,
  &__item-author {
    @extend %Rubik-400;
    font-size: 12px;
    color: #222933;
    margin-right: 30px;
    text-transform: uppercase;
  }
}

.partners {
  position: absolute;
  content: '';
  bottom: -213px;
  width: 100%;
  background-color: #fef7f0;

  padding-top: 225px;
  z-index: -1;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 170px;
    padding-bottom: 80px !important;
  }
}






.footer {
  padding-top: 175px;
}

.footer-top {
  padding: 133px 0 65px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  align-items: end;

  &__item {
    width: 270px;
    margin-right: 13px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__contact {
    width: 237px;
    margin-right: 96px;
  }

  &__logo {
    margin-bottom: 20px;
    display: block;
  }

  &__adress,
  &__tel,
  &__email {
    font-size: 14px;
    @extend %Rubik-400;
    line-height: 1.6;
    display: block;
    margin-bottom: 15px;
    color: $links;
  }

  &__title {
    color: #1f2044;
    @extend %DMSans-700;
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-top: 16px;
  }

  &__link {
    color: $links;
    line-height: 2.48;
    font-size: 14px;
    @extend %Rubik-400;
  }

  &__text {
    margin-bottom: 25px;
    color: $links;
    line-height: 1.9;
    font-size: 14px;
    @extend %Rubik-400;
  }

  &__form {
    display: flex;
  }

  &__form-input {
    max-width: 170px;
    width: 100%;
    border: none;
    background-color: #fef7f0;
    padding: 10px;

    &::placeholder {
      color: #234969;
      font-size: 12px;
      @extend %DMSans-400;
    }

    &:focus {
      font-size: 14px;
      outline: $links;
    }
  }

  &__form-btn {
    border: none;
    color: #fff;
    font-size: 14px;
    @extend %DMSans-400;
    background-color: #a3bbc8;
    padding: 11px 15px;
  }
}

.footer-bottom {
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__copy {
    line-height: 1.5;
    font-size: 14px;
  }

  &__menu-list {
    display: flex;
  }

  &__menu-item {
    height: 25px;
    border-right: 1px solid #7b7b7b;

    &:last-child {
      border-right: none;
    }
  }

  &__menu-link {
    padding: 15px;
    font-size: 14px;
    line-height: 1.5;
    color: $links;

  }

}

.top {
  background-color: #edf1f4;
  max-width: 100%;
  padding: 30px 0 30px;

  &__title {
    @extend %Rubik-300;
    font-size: 36px;
    text-align: center;
    color: #222933;
    padding-bottom: 8px;
  }
}

.modal {
  max-width: 475px;
  margin: 0 auto;
  padding-top: 120px;

  &__form {
    padding-bottom: 25px;
    border-bottom: 2px solid #f6f6f6;
  }
  &__label {
    display: block;
    font-size: 14px;
    color: #436372;
    margin-bottom: 30px;
  }

  &__input {
    display: block;
    width: 100%;
    border: 2px solid #f6f6f6;
    margin-top: 5px;
    height: 55px;
    padding: 0 15px;
  }
  &__btn {
    width: 100%;
    background-color: #a3bbc8;
    color: #fff;
    @extend %Rubik-500;
    font-size: 18px;
    padding: 17px 0;
    border: none;
    margin-bottom: 30px;
  }
  &__label-checked {
    display: inline-block;
    margin-bottom: 0;
  }
  &__checkbox {
  
  }
  &__link {
    float: right;
    @extend %Rubik-400;
    font-size: 14px;
    color: #436372;
  }
}

.create-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
  &__text {
    margin-bottom: 25px;
    @extend %Rubik-400;
    font-size: 14px;
    color: #436372;
  }
  &__btn {
    padding: 20px 0;
    @extend %Rubik-500;
    font-size: 18px;
    background-color: transparent;
    color: #243f4d;
    border: 2px solid #a3bbc8;
  }
}













@import 'media';